@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Inter:wght@100;400;500;600;700;800&family=Lato&family=Poppins:wght@100;300;400;500;600;700&family=Roboto+Mono:wght@100;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');

.calc-input {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.frstRow {
  grid-row: 5;
}

.secondRow {
  grid-row: 4;
}

.thirdRow {
  grid-row: 3;
}

.fourthRow {
  grid-row: 2;
}

.fifthRow {
  grid-row: 1;
}

.init {
  grid-column: 1 /span 2;
}

.Operator {
  padding: 1.3rem;
  background-color: #f0f0f0;
}

.calci {
  background-color: #f55a00;
}

.calci:hover {
  background-color: #f55a00;
  color: #fff;
}

.calc-result {
  padding: 2.3rem;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.7);
  color: #f0f0f0;
}

nav {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
}

.Naviii {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Naviii a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  margin: 1rem;
  font-family: 'Roboto', sans-serif;
}

.Navi {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 0 1rem;
}

.title-intro {
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin: 1rem;
}

.home-page-det {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 1rem;
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
}

.Use-Calc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.Intro-UseCalc {
  margin-top: 20%;
}

.calc-container {
  margin-top: 7%;
}
